In [1]:
DECLARE @value UNIQUEIDENTIFIER = NEWID();
SELECT @value;

(No column name)
9f202856-a18f-49a3-94be-1ca472788a0e